.button {
    background-color: #0a2ea5;
    border: none;
    top: 50%;
    border-radius: 10px;
    color: black;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.centered {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
div{
    display: inline-block;
}
body {
    background-image: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=2000&t=st=1687126523~exp=1687127123~hmac=828ca3b6dadb752cdfe35539b53949077e478f1d765f1ff7bebdfa6d4327a858');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }