.button {
    background-color: #0a2ea5;
    border: none;
    top: 50%;
    border-radius: 10px;
    color: black;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.centered {
    position: fixed;
    top: 70%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }